[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=jaggu
Group=jaggu
WorkingDirectory=/home/jaggu/SocialMediaAPI/
Environment="PATH=/home/jaggu/SocialMediaAPI/.venv/bin"
EnvironmentFile=/home/jaggu/.env
ExecStart=/home/jaggu/SocialMediaAPI/.venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker --access-logfile - --error-logfile - src.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target

